<h1><%=@car.car_description%></h1>
<p>
  <a href="/">back</a>
</p>
<% @description.order(:date).each do |item| %>
<ul class="car">
	
		<li class="date"> date: <%=item.date%>  
		<ul>miles since last fill: <%=item.miles%></ul>
		<ul>price per gallon: $<%=item.ppg%></ul>
		<ul>gallons: <%=item.gallons%></ul>
		<ul>mileage: <%=item.mileage %></ul>
		<ul>total price: $<%=item.t_price%></ul>

</li>
	
</ul>
        <form action ='/delete_description/<%=item.id%>' method='get'>
        <input type='submit' value='Delete'>
        </form>
        


<%end%>
<ul class="avg">
Average mileage <%=@car.mil_avg%> <%=@avg_ex%>
</ul>
<br><%= @car.calcs.count %> 
<form action = '/<%=@car.id%>/<%=@user.id%>/new_calc' method = 'post'>
  <input type='text' name ='miles' placeholder= 'miles'/>
  <input type='text' name ='gallons' placeholder= 'amount filled'/>
  <input type='text' name ='ppg' placeholder= 'price per gallon'/>
  <input type='text' name ='date' placeholder= 'date'/>
  <input type = 'submit' value='Submit'>
</form>

<a href="/<%=@car.id%>/chart"> chart</a>
