<h1>Hello <%=@user.name%></h1>


<h2>Enter new car or select car</h2>

<% @cars.order(:car_description).each do |car| %>


<ul class="car">

	<li>
	<div class = 'list-group-item'>
	     <a	href= '/show_car/<%=car.id%>/<%=@user.id%>'> <%=car.car_description%></a> Ovarall MPG: <%=car.mil_avg%>
        </div> 
	<form action ='/delete_car/<%=car.id%>' method='get'>
      	<input type='submit' value='Delete'>
      	</form>
	</li>
</ul>
<%end%>
<form action = '/new_car' method = 'post'>
  <input type='text' name ='car' placeholder= 'your car here'/>
  <input type = 'submit' value='Submit'>
</form>

<p>
 <a href='/logout' class="btn btn-default">logout</a>
 <a href='/delete_user' class="btn btn-dnager">delete my account</a>
</p>

